.chat-header-container {
  background-color: transparent;
  z-index: 9;
}
.chat-header-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-header-username {
  font-size: 18px;
  margin-left: 10px;
}
