.container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.chat-box {
  flex: 8;
  height: 100%;
  background-color: rgb(247, 247, 248);
  display: flex;
  flex-direction: column;
}

:root {
  --messages-padding: 8px 15px;
  --chat-bg-main: rgb(25, 141, 150);
}
