.side-bar-header-wrapper {
  padding-bottom: 20px;
  position: relative;
}
.side-bar-header-upper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.side-bar-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.side-bar-header-title {
  font-size: 30px;
  margin-left: 10px;
}
.side-bar-header-options-wrapper {
  display: flex;
  align-items: center;
}
.side-bar-header-option {
  background-color: rgb(224, 224, 224);
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.side-bar-header-divider {
  height: 1px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
}
