.side-bar-search-input-wrapper {
  display: flex;
  border-radius: 15px;
  background-color: whitesmoke;
}
.side-bar-search-input {
  border: none;
  width: 100%;
  padding: var(--messages-padding);
  border-radius: 15px;
  background-color: transparent;
}
