.chat-PP-wrapper-absolute {
  position: absolute;
}

.small {
  height: 30px;
  width: 30px;
}
.chat-PP.small {
  font-size: 15px;
}

.medium {
  height: 40px;
  width: 40px;
}
.chat-PP.medium {
  font-size: 20px;
}

.large {
  height: 50px;
  width: 50px;
}
.chat-PP.large {
  font-size: 28px;
}

.chat-PP {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  display: block;
}
.chat-PP.initials {
  background-color: rgb(223, 223, 223);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
