.chat-input-wrapper {
  padding: 20px;
  display: flex;
}
.chat-input {
  border: none;
  border-radius: 50px;
  padding: 8px 15px;
  flex: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.chat-input-send-button {
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  background-color: transparent;
  color: gray;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}
.chat-input-send-button.active {
  background-color: var(--messages-own-bg-color);
  color: white;
}
